.streamcreate{
    margin: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 50px;
}
label{
    font-weight: 600 !important;
}
.streamcreate-input{
    margin-top: 20px;
}
.streamcreate-form{

}
.streamcreate-btn{
    margin-top: 20px;
    width: 300px;
}
.streamcreate .text-muted{
    color: red !important;
}